.fullPage{
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ),
    no-repeat,
    url("../public/images/hero.jpg");
    background-size: auto;
    width: 100%;
    height: 100vh;
    font-family: sans-serif, "Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif";
}

.navbar {
    padding: 20px 30px;
    height: fit-content;
    width: fit-content;

}
.logo {
    height: 2rem;
    opacity: 200%;
}

.signInContainer {
    flex: fit-content;
    padding: 5rem 40rem;
    width: 27rem;
    height: auto;
}

.signInBox {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;

}
.signInHeader {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.inputContainer{
    display: flex;
    flex: fit-content;
    flex-direction: column;
    gap: 2rem;
    height: fit-content;
}
.loginButton{
    padding: 1rem;
    background-color: #FF0000;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 1rem;
}

.loginButton:hover {
    background-color: #FA5A5A;
    cursor: pointer;
}

.fullPage p {
    color: gray;
}
.signInLink {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 0.5rem
}
.signInLink div {
    justify-content: center;
    cursor: pointer;
    padding-top: 0.9rem;
}