.container {
    position: relative;
}
.container input {
    width: calc(100% - 2rem);
    border-color: #383434;
    border-radius: 5px;
    font-size: 16px;
    padding: 1.4rem 1rem 0.6rem;
    background-color: #383434;
    color: white;
}
.container input:focus {
    outline: none;
}

.container label {
    position: absolute;
    font-size: 16px;
    transform: translate(-15rem, 1rem) scale(1);
    color: #7a7a7a;
}

.container input:placeholder-shown + label {
    transform: translate(-15rem, 1rem) scale(1);
}
.container input:focus + label{
    transform: translate(-15.75rem, 0.25rem) scale(.75);
}
.container input:not(placeholder-shown) + label {
    transform: translate(-15.75rem, 0.25rem) scale(.75);
}
