.container {
    position: relative;
    align-items: normal;
    font-size: 16px;
}
.container input {
    width: calc(100% - 2rem);
    border-radius: 5px;
    padding: 1.4rem 1rem 0.6rem;
    background-color: #383434;
    color: white;
    border: none;
}
.container input:focus {
    outline: none;
    background-color: #454545;
}

.label {
    position: absolute;
    transform: translate(-1rem, 1rem) scale(1);
    color: #7a7a7a;
}

.container input:placeholder-shown + label {
    transform: translate(-19.25rem, 1rem) scale(1);
    transition-duration: 200ms;
}
.container input:focus + label{
    transform: translate(-20rem, 0.25rem) scale(.75);
    transition-duration: 200ms;
}
.container input:not(placeholder-shown) + label {
    transform: translate(-20rem, 0.25rem) scale(.75);
    transition-duration: 200ms;
}
.container input:placeholder-shown ~ .showButton {
    display: none;
}
.showButton {
    position: fixed;
    text-align: right;
    transform: translate(-4rem, 1rem) scale(.75);
    color: #7a7a7a;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 600px){
    
}
