.container {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.0)
    ); ;
    position: fixed;
    display: flex;
    flex-direction: row;
    padding: 0.4rem 2rem;
    height: 2.5rem;
    align-items: center;
    width: calc(100% - 4rem);
    z-index: 40;
}
.leftItems {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    height: inherit;
}
.logo {
    height: 1.7rem;
    float: left;
}
.rightItems {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    margin-left: auto;
    align-items: center;
    height: inherit;
}
.dropdownIconsContainer {
    display: flex;
    gap: 1rem;
    height: inherit;

}
.notifsContainer {
    margin: auto;
}


.accountButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;
    gap: 0.25rem;
}
.accountButton:hover #downArrow {
    transform: rotate(180deg);
}
.bellIcon{
    height: 1.7rem;
}
.downArrow {
    color: white;
    width: .7rem;
    transition: transform 300ms ease-in-out;
}
.downArrow:focus {
    transform: rotate(-90deg) translateY(-3px);
}